<div class="row">
  <div class="col-md-4">
      <a class="btn btn-primary" [routerLink]='["/bordas/novo"]' [routerLinkActive]="['active']">
        Nova Borda
      </a>
  </div>
</div>
<br/>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col" >Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let borda of bordas">
        <td>{{borda.id}}</td>
        <td>{{borda.nome}}</td>
        <td>{{borda.descricao}}</td>
        <td class="text-center">
            <a class="btn btn-primary" [routerLink]="['/bordas', borda.id]">
              Editar
            </a>
            <button class="btn btn-danger" (click)="teste(borda)" >
              Excluir
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Exclusão</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja excluir: {{ bordaSelecionada ? bordaSelecionada.nome : '' }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="excluir(bordaSelecionada)" >Sim</button>
        <button type="button" class="btn btn-primary" (click)="childModal.hide()" >Não</button>
      </div>
    </div>
  </div>
</div>