<app-erro-server [validacoes]="validacoesServer"></app-erro-server>
<form (submit)="salvar($event)" class="needs-validation" [formGroup]="bordaForm">
  <div class="form-group" >
    <label for="nome">Nome</label>
    <input type="text" class="form-control"  
           [ngClass]="displayFieldCss('nome')"
           formControlName="nome" name="nome"
           id="nome" placeholder="Nome da borda"/>
    <div *ngIf="isFieldValid('nome')" class="invalid-feedback ">
      Nome é obrigatorio. 
    </div>
  </div>
  <div class="form-group">
    <label for="descricao">Descrição</label>
    <input type="text" class="form-control" 
           [ngClass]="displayFieldCss('descricao')"
           formControlName="descricao" name="descricao"
           id="descricao" placeholder="Descrição da borda">
      <div *ngIf="isFieldValid('descricao')" class="invalid-feedback ">
        Descrição é obrigatorio. 
      </div>
  </div>
  <button type="submit" class="btn btn-success">Salvar</button>
  <a class="btn btn-dark" [routerLink]="['/bordas']">Voltar</a>
</form>